<div class="container">
  <div class="adds-top-padding">
    <% @articles.order(updated_at: :DESC).limit(20).each do |article| %>
      <h2>
        <% if article.live == true %>
          <%= icon('fa', 'eye', class: 'text-success') %>
        <% else %>
          <%= icon('fa', 'eye-slash', class: 'text-danger') %>
        <% end %> #<%= article.id %> - <%= article.header %>
      </h2>
      <p><%= article.body %></p>
      <p>Image: <%= article.imgURL %></p>
      <p class="text-muted">User No.: <%= article.user_id %></p>
      <hr />
    <% end %>
  </div>
</div>
